<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Sentiment Analyser App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/0bfdbb1f27.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://kit.fontawesome.com/a5d6ac075f.js" crossorigin="anonymous"></script>
    <script src="/js/controllers.js"></script>
    <link rel="stylesheet" href="../static/sass/default.scss" />
    <style>
        table,
        th,
        td {
            border: 1px solid grey;
        }


        .innerG {
            height: 12px;
            background-color: darkgreen;
        }

        .innerR {
            height: 12px;
            background-color: red;
        }

        .inner {
            height: 12px;
            background-color: navy;
        }

        .outer {
            border: 1px solid white;
        }

        .coupon {
            border: 5px solid deepskyblue;
            width: 80%;
            border-radius: 15px;
            margin: 0 auto;
            max-width: 600px;
        }

        .container {
            padding: 2px 16px;
        }

        .promo {
            background: #ccc;
            padding: 3px;
        }

        .expire {
            color: red;
        }

        .center {
            text-align: center;
        }
    </style>
</head>


<body font-family=calibri>
    <div class="container" ng-app="myApp" ng-controller="myCtrl" style="width:90%; ">
        <div class="center" style=" margin:0px auto;">
            <h2>Stock Sentiment Analyzer</h2>
            <i class="far fa-laugh-beam fa-4x" style="color:darkgreen"></i>
            <i class="far fa-grin fa-4x" style="color:green"></i>
            <i class="far fa-meh fa-4x" style="color:blue"></i>
            <i class="far fa-frown fa-4x" style="color:deeppink"></i>
            <i class="far fa-sad-cry fa-4x" style="color:red"></i>
            <div>
                <br>
                <h4>Stock Name: </h4>
                <div class="container">
                    <input type="text" style="border:1px solid darkblue" font-family=calibri ng-model="text" />
                </div><br>
                <div class="container">
                    <button type="button" class="btn btn-info"
                        ng-click="AnalyseStock(text);tone=true;chattone=false;">Analyze Stock</button>
                </div>
            </div>
            <div ng-show="loading ">
                <i class="fa fa-refresh fa-spin fa-2x fa-fw "></i>
                <span class="sr-only ">Loading...</span>
            </div>
        </div>
        <div class="center" ng-init="GetAvgScore()" ng-show="showResult">
            <h4>Overall Sentiment:</h4>
            <i ng-show="avg <= 0.02 && avg > -0.02" class="far fa-meh fa-3x" style="color:blue">
                [{{avg | number:4}}]</i>
            <i ng-show="avg <= -0.02 && avg > -0.2" class="far fa-frown fa-3x" style="color:rgb(233, 6, 101)">
                [{{avg | number:4}}]</i>
            <i ng-show="avg <= -0.2" class="far fa-sad-cr fa-3x" style="color:red"> [{{avg | number:4}}]</i>
            <i ng-show="avg > 0.02 && avg <= 0.2" class="far fa-grin fa-3x" style="color:green">
                [{{avg | number:4}}]</i>
            <i ng-show="avg > 0.2" class="far fa-laugh-beam fa-3x" style="color:darkgreen"> [{{avg | number:4}}]</i>
        </div>
        <br>
        <div ng-show="error">
            {{errorMsg}} <i class="far fa-frown fa-2x"></i>
        </div>

        <div class="coupon" style=" margin: 5px auto;" ng-repeat="row in response" ng-show="showResult">
            <div class="center" style=" margin: 5px;" ng-init="GetEmoji(row.score)">
                <div ng-show="smile">
                    <i ng-class="GetEmoji(row.score)" style="color:forestgreen"></i>
                </div>
                <div ng-show="bigsmile">
                    <i ng-class="GetEmoji(row.score)" style="color: darkgreen"></i>
                </div>
                <div ng-show="neutral">
                    <i ng-class="GetEmoji(row.score)" style="color:blue"></i>
                </div>
                <div ng-show="frown" style="color:red">
                    <i ng-class="GetEmoji(row.score)"></i>
                </div>
                <div ng-show="cry">
                    <i ng-class="GetEmoji(row.score)" style="color:darkred"></i>
                </div>
            </div>
            <div>
                {{row.text[0]}}
            </div>
            <div ng-init="sp=GetAbsolute(row.score)" class="outer">
                <p>
                    <div ng-class="GetClass(row.score)" ng-style="{ width: sp + '%'} "></div>
                    Score: {{row.score | number:9}}
                </p>
            </div>
            <div ng-init="mp=GetAbsolute(row.magnitude)" class="outer">
                <p>
                    <div class="inner" ng-style="{ width: mp + '%'} "></div>
                    Magnitude: {{row.magnitude | number:9}}
                </p>
            </div>
        </div>
    </div>
</body>


<script>
    angular.element(document).ready(function () {
        angular.bootstrap(document, ['myApp']);
    });
</script>

</html>